﻿@model List<WeatherMvc.Models.WeatherData>

@{
    ViewBag.Title = "Weather";
    Layout = "_Layout";
}

<h2>Weather</h2>

<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Date</td>
            <td>@item.Summary/td>
            <td>@item.TemperatureF</td>
            <td>@item.TemperatureC</td>
        </tr>
    }
</table>